<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File</title>
</head>
<body>
    <form action="http://localhost:3000/api/pronounce/test" enctype="application/x-www-form-urlencoded" method="POST">
  
        <input type="text" placeholder="lyrics" name="lyrics">

      

      
         <input type="file" name="file">

        
        <button type="submit">Submit</button>
      
      </form>
</body>
</html>